{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="flex flex-col min-h-screen bg-gray-100">

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main Content -->
     <div class="container mx-auto py-12">
        <h2 class="text-xl font-bold">Total Amount: ${{ total }}</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg">Confirm Purchase</button>
        </form>
     </div>
</div>
{% endblock %}